{% extends 'base.html.twig' %}

{% block title %}Soin{% endblock %}

{% block body %}
    <h1>Soin</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ soin.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ soin.nom }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ soin.prix }}</td>
            </tr>
            <tr>
                <th>Durée Traitement</th>
                <td>{{ soin.duréeTraitement }}</td>
            </tr>
            <tr>
                <th>Durée Hospitalisation</th>
                <td>{{ soin.dureeHospitalisation }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('soin_index') }}">Retour</a>


    
{% endblock %}
